a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.booklinks-main {
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
}

.booklinks-sub {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 23px;
  font-weight: 700;
}



