a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.books-main {
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
}

.booklinks {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 28px;
  font-weight: 700;
}

.book-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 30px auto;
  border: 2px solid black;
}

#book-title {
  font-size: 24px;
}

#book-desc {
  font-size: 18px;
}
